* {
    background-image: none;
    font-size: 14px; /* fntSize */
}

@import url("/home/bogdan/.config/waybar/theme.css");

window {
    background-color: rgba(0,0,0,0.5); /* transparent background with dark overlay */
}

button {
    color: #ffffff; /* BtnCol */
    background-color: @main-bg;
    outline-style: none;
    border: none;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
}

button:focus {
    background-color: @wb-act-bg;
    background-size: 30%;
}

button:hover {
    background-color: @wb-hvr-bg;
    background-size: 40%;
    border-radius: 12px; /* active_rad */
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#lock {
    border-radius: 12px;
    margin: 5px 0px 5px 10px; /* hvr, mgn */
}

button:hover#logout,
button:hover#suspend,
button:hover#shutdown,
button:hover#hibernate {
    border-radius: 12px;
    margin: 5px 0px 5px 0px;
}

button:hover#reboot {
    border-radius: 12px;
    margin: 5px 10px 5px 0px;
}

#shutdown {
    background-image: image(
        url("/home/bogdan/.config/wlogout/icons/shutdown_white.png"),
        url("/usr/share/wlogout/icons/shutdown.png"),
        url("/usr/local/share/wlogout/icons/shutdown.png")
    );
    border-radius: 1px;
    margin: 11px 0px 10px 0px;
}

#logout {
    background-image: image(
        url("/home/bogdan/.config/wlogout/icons/logout_white.png"),
        url("/usr/share/wlogout/icons/logout.png"),
        url("/usr/local/share/wlogout/icons/logout.png")
    );
    border-radius: 21px;
    margin: 11px 0px 10px 0px;
}

#suspend {
    background-image: image(
        url("/home/bogdan/.config/wlogout/icons/suspend_white.png"),
        url("/usr/share/wlogout/icons/suspend.png"),
        url("/usr/local/share/wlogout/icons/suspend.png")
    );
    border-radius: 21px;
    margin: 11px 0px 10px 0px;
}

#lock {
    background-image: image(
        url("/home/bogdan/.config/wlogout/icons/lock_white.png"),
        url("/usr/share/wlogout/icons/lock.png"),
        url("/usr/local/share/wlogout/icons/lock.png")
    );
    border-radius: 21px; /* button_rad */
    margin: 11px 0px 10px 10px;
}

#hibernate {
    background-image: image(
        url("/home/bogdan/.config/wlogout/icons/hibernate_white.png"),
        url("/usr/share/wlogout/icons/hibernate.png"),
        url("/usr/local/share/wlogout/icons/hibernate.png")
    );
    border-radius: 21px;
    margin: 11px 0px 10px 10px;
}

#reboot {
    background-image: image(
        url("/home/bogdan/.config/wlogout/icons/reboot_white.png"),
        url("/usr/share/wlogout/icons/reboot.png"),
        url("/usr/local/share/wlogout/icons/reboot.png")
    );
    border-radius: 21px; /* button_rad */
    margin: 11px 10px 10px 0px;
}

